<hr>
<div class="container">
  <div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Original Text</th>
                <th scope="col">Inverted Text</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{indexList+1}}</th>
                <td>{{textList.text}}</td>
                <td>{{textList.invertText}}</td>
              </tr>
            </tbody>
          </table>
  </div>
</div>

